In [10]:
import numpy as np
import pandas as pd
import geopandas as gpd
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv
from shapely.geometry import Point

load_dotenv()

True

In [8]:
# postgre login
user = os.getenv("SUPERUSER_ID")
password = os.getenv("SUPERUSER_PASSWORD")
postgres_engine = create_engine(f'postgresql+psycopg2://{user}:{password}@10.10.12.181:5432/dataops')

In [67]:
duration_time = pd.read_parquet('data/0612_반출자료/체류시간_2407.parquet')
duration_time.head()

,operation_date,station_id,cluster_id,admin_code,station_name,station_type,duration_type,total_duration_time,duration_count,duration_average_time,duration_median_time
0,20240725,2546,CG6375150378,1121510300,아차산(어린이대공원후문),T,play,173036.546875,1574.0,109.934273,74.191666
1,20240727,70761,CG5057841452,1162010200,서울산업정보학교.삼성교,B,work,12152.791992,49.0,248.016159,249.633331
2,20240724,72449,CG5503452241,1111015500,청계2가.수표교,B,work,366.075012,2.0,183.037506,183.037506
3,20240723,2800684,CG2684045350,2826011000,대은교회,B,work,3340.308350,14.0,238.593445,242.066666
4,20240717,4114363,CG5551818642,4111313100,수원역환승센터(7승강장),B,work,22963.775391,100.0,229.637756,251.970825

In [68]:
print(duration_time.shape)
duration_time.isnull().sum()

(4942795, 11)

operation_date               0
station_id                   0
cluster_id               55538
admin_code               55537
station_name             55537
station_type                 0
duration_type                0
total_duration_time          0
duration_count               0
duration_average_time        0
duration_median_time         0
dtype: int64

In [69]:
# 그리드 -> 5179 좌표 변환 함수
x_mapping = ['A', 'B', 'C', 'D', 'E', 'F', 'G']
y_mapping = ['B', 'C', 'D', 'E', 'F', 'G', 'H']

def grid_to_5179(grid_id):
    if not isinstance(grid_id, str):
        return None
    try:
        x_char, y_char = grid_id[0], grid_id[1]
        x_index = x_mapping.index(x_char)
        y_index = y_mapping.index(y_char)
        x_tail = int(grid_id[2:7])
        y_tail = int(grid_id[7:])
    except ValueError:
        return None

    x_coord = (x_index + 7) * 100000 + x_tail
    y_coord = (y_index + 14) * 100000 + y_tail
    return Point(x_coord, y_coord)

grid_to_5179('CG6375150378')

In [70]:
# data에 적용: 격자 -> 지오매트리
duration_time['geometry']= duration_time['cluster_id'].map(grid_to_5179)

In [71]:
# column cleansing
duration_time.rename(columns = {'admin_code':'legaldong_code',
                                'cluster_id':'grid_id'}, inplace = True)
duration_time = duration_time[['operation_date' ,'station_id', 'station_name', 'station_type', 'grid_id',
                               'legaldong_code', 'duration_type', 'total_duration_time', 'duration_count', 'duration_average_time', 'duration_median_time', 'geometry']]
duration_time.head()

,operation_date,station_id,station_name,station_type,grid_id,legaldong_code,duration_type,total_duration_time,duration_count,duration_average_time,duration_median_time,geometry
0,20240725,2546,아차산(어린이대공원후문),T,CG6375150378,1121510300,play,173036.546875,1574.0,109.934273,74.191666,POINT (963751 1950378)
1,20240727,70761,서울산업정보학교.삼성교,B,CG5057841452,1162010200,work,12152.791992,49.0,248.016159,249.633331,POINT (950578 1941452)
2,20240724,72449,청계2가.수표교,B,CG5503452241,1111015500,work,366.075012,2.0,183.037506,183.037506,POINT (955034 1952241)
3,20240723,2800684,대은교회,B,CG2684045350,2826011000,work,3340.308350,14.0,238.593445,242.066666,POINT (926840 1945350)
4,20240717,4114363,수원역환승센터(7승강장),B,CG5551818642,4111313100,work,22963.775391,100.0,229.637756,251.970825,POINT (955518 1918642)

In [35]:
# 정합성 검사
# 운행일자, 정류장id(상하행), 체류유형, 지오매트리 -> 고유값 하나

duration_map = duration_time.groupby(['operation_date', 'station_id', 'grid_id', 'duration_type'], sort=False).size()
(duration_map>1).sum()

np.int64(0)

In [72]:
# NULL값 드랍
duration_time = duration_time.dropna()
duration_time.isnull().sum()

operation_date           0
station_id               0
station_name             0
station_type             0
grid_id                  0
legaldong_code           0
duration_type            0
total_duration_time      0
duration_count           0
duration_average_time    0
duration_median_time     0
geometry                 0
dtype: int64

In [73]:
# 시간 초단위로 바꾸기
duration_time['total_duration_time'] =  duration_time['total_duration_time'] * 60
duration_time['duration_average_time'] =  duration_time['duration_average_time'] * 60
duration_time['duration_median_time'] =  duration_time['duration_median_time'] * 60
duration_time.head()

,operation_date,station_id,station_name,station_type,grid_id,legaldong_code,duration_type,total_duration_time,duration_count,duration_average_time,duration_median_time,geometry
0,20240725,2546,아차산(어린이대공원후문),T,CG6375150378,1121510300,play,10382193.0,1574.0,6596.056152,4451.50,POINT (963751 1950378)
1,20240727,70761,서울산업정보학교.삼성교,B,CG5057841452,1162010200,work,729167.5,49.0,14880.969727,14978.00,POINT (950578 1941452)
2,20240724,72449,청계2가.수표교,B,CG5503452241,1111015500,work,21964.5,2.0,10982.250000,10982.25,POINT (955034 1952241)
3,20240723,2800684,대은교회,B,CG2684045350,2826011000,work,200418.5,14.0,14315.606445,14524.00,POINT (926840 1945350)
4,20240717,4114363,수원역환승센터(7승강장),B,CG5551818642,4111313100,work,1377826.5,100.0,13778.265625,15118.25,POINT (955518 1918642)

In [74]:
# int 타입으로 변환
duration_time['total_duration_time'] =  duration_time['total_duration_time'].astype(int)
duration_time['duration_count'] =  duration_time['duration_count'].astype(int)
duration_time['duration_average_time'] =  duration_time['duration_average_time'].astype(int)
duration_time['duration_median_time'] =  duration_time['duration_median_time'].astype(int)
duration_time.head(3)

,operation_date,station_id,station_name,station_type,grid_id,legaldong_code,duration_type,total_duration_time,duration_count,duration_average_time,duration_median_time,geometry
0,20240725,2546,아차산(어린이대공원후문),T,CG6375150378,1121510300,play,10382193,1574,6596,4451,POINT (963751 1950378)
1,20240727,70761,서울산업정보학교.삼성교,B,CG5057841452,1162010200,work,729167,49,14880,14978,POINT (950578 1941452)
2,20240724,72449,청계2가.수표교,B,CG5503452241,1111015500,work,21964,2,10982,10982,POINT (955034 1952241)

In [75]:
duration_time.describe()

,total_duration_time,duration_count,duration_average_time,duration_median_time
count,4.887257e+06,4.887257e+06,4.887257e+06,4.887257e+06
mean,1.096622e+06,6.166680e+01,1.867737e+04,1.852242e+04
std,9.604868e+06,5.540772e+02,9.009911e+03,9.983225e+03
min,1.500000e+02,1.000000e+00,1.500000e+02,1.500000e+02
25%,4.214800e+04,3.000000e+00,1.239900e+04,1.123900e+04
50%,1.407040e+05,8.000000e+00,1.849900e+04,1.834800e+04
75%,4.981530e+05,2.700000e+01,2.428500e+04,2.410600e+04
max,1.043002e+09,6.160500e+04,4.320000e+04,4.320000e+04

In [76]:
# 법정동코드 길이 확인
print(duration_time.station_name.str.len().unique())
print(duration_time.legaldong_code.str.len().unique())

[13 12  8  4  3  2 19 15  9  7  5  6 16 10 17 21 18 11 14 24 23 20 28 27
 25 26 22 30 29 32]
[10]

In [77]:
# geodataframe으로 변환
duration_time = gpd.GeoDataFrame(duration_time, geometry='geometry', crs = 'EPSG:5179')
type(duration_time)

geopandas.geodataframe.GeoDataFrame

In [78]:
duration_time.columns

Index(['operation_date', 'station_id', 'station_name', 'station_type',
       'grid_id', 'legaldong_code', 'duration_type', 'total_duration_time',
       'duration_count', 'duration_average_time', 'duration_median_time',
       'geometry'],
      dtype='object')

In [79]:
# 체류시간 데이터 적재
duration_time.to_postgis('tb_metropolitan_duration_time_202407', con =postgres_engine, schema='문재식', if_exists='append', index=False)

# 2. 출퇴근 데이터 정제

In [43]:
morning = pd.read_parquet('data/0612_반출자료/morning_commuting_transport_202407.parquet')
evening = pd.read_parquet('data/0612_반출자료/evening_commuting_transport_202407.parquet')
print(morning.isnull().sum())
print(evening.isnull().sum())

live_station_id                       0
work_station_id                       0
live_station_cluster_id               0
work_station_cluster_id               0
live_station_admin                    0
work_station_admin                    0
live_station_name                     0
work_station_name                     0
live_station_type                     0
work_station_type                     0
morning_commute_count                 0
morning_commute_average_time          0
morning_commute_median_time           0
morning_commute_average_distance    922
morning_commute_median_distance     922
dtype: int64
live_station_id                        0
work_station_id                        0
live_station_cluster_id                0
work_station_cluster_id                0
live_station_admin                     0
work_station_admin                     0
live_station_name                      0
work_station_name                      0
live_station_type                      0
work_station_type                      0
evening_commute_count                  0
evening_commute_average_time           0
evening_commute_median_time            0
evening_commute_average_distance    1050
evening_commute_median_distance     1050
dtype: int64

In [44]:
morning.rename(columns = {'live_station_admin':'live_station_legaldong',
                          'work_station_admin':'work_station_legaldong'}, inplace=True)
evening.rename(columns = {'live_station_admin':'live_station_legaldong',
                          'work_station_admin':'work_station_legaldong'}, inplace=True)
morning.head()

,live_station_id,work_station_id,live_station_cluster_id,work_station_cluster_id,live_station_legaldong,work_station_legaldong,live_station_name,work_station_name,live_station_type,work_station_type,morning_commute_count,morning_commute_average_time,morning_commute_median_time,morning_commute_average_distance,morning_commute_median_distance
0,10618,9002551,CG4654340972,CG5766043101,1154510200,1165010800,독산동우시장.금천50플러스센터,서일초등학교,B,B,3,2488.333252,2411.0,13705.666992,13758.0
1,70462,8392,CG6080842219,CG6053648986,1168010300,1120011500,개포주공1단지아파트,성원중성수동이마트앞,B,B,1,3139.000000,3139.0,8868.000000,8868.0
2,4124,4133,CG5715645110,CG6524845156,1165010700,1171010500,사평,석촌,T,T,129,1522.410889,1489.0,8800.000000,8800.0
3,2747,1708,CG4584643181,CG5072730439,1153010200,4141010500,남구로,금정,T,T,367,1943.141724,1933.0,14200.000000,14200.0
4,15238,2547,CG6185855999,CG6498449630,1123011000,1121510400,신이문역,광나루(장신대),B,T,45,1820.022217,1788.0,9269.911133,9236.0

In [45]:
# Grid -> 5179 적용
morning['live_station_geometry'] = morning.live_station_cluster_id.map(grid_to_5179)
morning['work_station_geometry'] = morning.work_station_cluster_id.map(grid_to_5179)
evening['live_station_geometry'] = evening.live_station_cluster_id.map(grid_to_5179)
evening['work_station_geometry'] = evening.work_station_cluster_id.map(grid_to_5179)

In [46]:
# 수치 변수들 -> int
morning['morning_commute_count'] = morning['morning_commute_count'].round().astype('Int64')
morning['morning_commute_average_time'] = morning['morning_commute_average_time'].round().astype('Int64')
morning['morning_commute_median_time']= morning['morning_commute_median_time'].round().astype('Int64')
morning['morning_commute_average_distance']= morning['morning_commute_average_distance'].round().astype('Int64')
morning['morning_commute_median_distance'] = morning['morning_commute_median_distance'].round().astype('Int64')

evening['evening_commute_count'] = evening['evening_commute_count'].round().astype('Int64')
evening['evening_commute_average_time'] = evening['evening_commute_average_time'].round().astype('Int64')
evening['evening_commute_median_time']= evening['evening_commute_median_time'].round().astype('Int64')
evening['evening_commute_average_distance']= evening['evening_commute_average_distance'].round().astype('Int64')
evening['evening_commute_median_distance'] = evening['evening_commute_median_distance'].round().astype('Int64')
evening.head()

,live_station_id,work_station_id,live_station_cluster_id,work_station_cluster_id,live_station_legaldong,work_station_legaldong,live_station_name,work_station_name,live_station_type,work_station_type,evening_commute_count,evening_commute_average_time,evening_commute_median_time,evening_commute_average_distance,evening_commute_median_distance,live_station_geometry,work_station_geometry
0,60060,10439,CG4986741650,CG4499942733,1154510100,1162010200,디지털3단지운동장,서울대벤처타운역.삼성동시장,B,B,57,2769,2718,10981,10981,POINT (949867 1941650),POINT (944999 1942733)
1,4100188,4100280,CG3848246573,CG3665443306,4119210200,4119610200,부천역북부.농협,성곡동행정복지센터.홈플러스여월점,B,B,237,994,949,4524,4200,POINT (938482 1946573),POINT (936654 1943306)
2,9036319,9003077,CG5217355715,CG5220756536,1111018200,1111018500,구기동,상명대입구.석파랑,B,B,63,285,239,1265,1095,POINT (952173 1955715),POINT (952207 1956536)
3,2817,9010914,CG6572644564,CG5869441825,1165010200,1171010700,우성아파트,송파,B,T,27,2071,2120,10373,10456,POINT (965726 1944564),POINT (958694 1941825)
4,311,11121,CG4891857894,CG6183254124,1123010900,1138010300,서울준법지원센터.동성빌라,연신내,B,T,8,3187,3192,17578,17610,POINT (948918 1957894),POINT (961832 1954124)

In [55]:
# 일평균으로 조정
morning['morning_commute_count'] = (morning['morning_commute_count']).round(1)
evening['evening_commute_count'] = (evening['evening_commute_count']).round(1)
evening.head()

,live_station_id,work_station_id,live_station_name,work_station_name,live_station_legaldong,work_station_legaldong,live_station_grid_id,work_station_grid_id,live_station_type,work_station_type,evening_commute_count,evening_commute_average_time,evening_commute_median_time,evening_commute_average_distance,evening_commute_median_distance,live_station_geometry,work_station_geometry
0,60060,10439,디지털3단지운동장,서울대벤처타운역.삼성동시장,1154510100,1162010200,CG4986741650,CG4499942733,B,B,2.5,2769,2718,10981,10981,POINT (949867 1941650),POINT (944999 1942733)
1,4100188,4100280,부천역북부.농협,성곡동행정복지센터.홈플러스여월점,4119210200,4119610200,CG3848246573,CG3665443306,B,B,10.3,994,949,4524,4200,POINT (938482 1946573),POINT (936654 1943306)
2,9036319,9003077,구기동,상명대입구.석파랑,1111018200,1111018500,CG5217355715,CG5220756536,B,B,2.7,285,239,1265,1095,POINT (952173 1955715),POINT (952207 1956536)
3,2817,9010914,우성아파트,송파,1165010200,1171010700,CG6572644564,CG5869441825,B,T,1.2,2071,2120,10373,10456,POINT (965726 1944564),POINT (958694 1941825)
4,311,11121,서울준법지원센터.동성빌라,연신내,1123010900,1138010300,CG4891857894,CG6183254124,B,T,0.4,3187,3192,17578,17610,POINT (948918 1957894),POINT (961832 1954124)

In [56]:
# 컬럼 이름 변경
morning.rename(columns={'live_station_cluster_id':'live_station_grid_id',
                        'work_station_cluster_id':'work_station_grid_id',
                        'morning_commute_count':'morning_daily_commute_count'}, inplace=True)
evening.rename(columns={'live_station_cluster_id':'live_station_grid_id',
                        'work_station_cluster_id': 'work_station_grid_id',
                        'evening_commute_count':'evening_daily_commute_count'}, inplace=True)
morning.head(3)

,live_station_id,work_station_id,live_station_name,work_station_name,live_station_legaldong,work_station_legaldong,live_station_grid_id,work_station_grid_id,live_station_type,work_station_type,morning_daily_commute_count,morning_commute_average_time,morning_commute_median_time,morning_commute_average_distance,morning_commute_median_distance,live_station_geometry,work_station_geometry
0,10618,9002551,독산동우시장.금천50플러스센터,서일초등학교,1154510200,1165010800,CG4654340972,CG5766043101,B,B,0.1,2488,2411,13706,13758,POINT (946543 1940972),POINT (957660 1943101)
1,70462,8392,개포주공1단지아파트,성원중성수동이마트앞,1168010300,1120011500,CG6080842219,CG6053648986,B,B,0.0,3139,3139,8868,8868,POINT (960808 1942219),POINT (960536 1948986)
2,4124,4133,사평,석촌,1165010700,1171010500,CG5715645110,CG6524845156,T,T,5.6,1522,1489,8800,8800,POINT (957156 1945110),POINT (965248 1945156)

In [57]:
# 컬럼 정렬
morning = morning[['live_station_id' ,'work_station_id',
                   'live_station_name', 'work_station_name',
                   'live_station_legaldong', 'work_station_legaldong',
                   'live_station_grid_id', 'work_station_grid_id',
                   'live_station_type', 'work_station_type',
                   'morning_daily_commute_count',
                   'morning_commute_average_time','morning_commute_median_time',
                   'morning_commute_average_distance', 'morning_commute_median_distance',
                   'live_station_geometry', 'work_station_geometry']]
evening = evening[['live_station_id' ,'work_station_id',
                   'live_station_name', 'work_station_name',
                   'live_station_legaldong', 'work_station_legaldong',
                   'live_station_grid_id', 'work_station_grid_id',
                   'live_station_type', 'work_station_type',
                   'evening_daily_commute_count',
                   'evening_commute_average_time','evening_commute_median_time',
                   'evening_commute_average_distance', 'evening_commute_median_distance',
                   'live_station_geometry', 'work_station_geometry']]
evening.head()

,live_station_id,work_station_id,live_station_name,work_station_name,live_station_legaldong,work_station_legaldong,live_station_grid_id,work_station_grid_id,live_station_type,work_station_type,evening_daily_commute_count,evening_commute_average_time,evening_commute_median_time,evening_commute_average_distance,evening_commute_median_distance,live_station_geometry,work_station_geometry
0,60060,10439,디지털3단지운동장,서울대벤처타운역.삼성동시장,1154510100,1162010200,CG4986741650,CG4499942733,B,B,2.5,2769,2718,10981,10981,POINT (949867 1941650),POINT (944999 1942733)
1,4100188,4100280,부천역북부.농협,성곡동행정복지센터.홈플러스여월점,4119210200,4119610200,CG3848246573,CG3665443306,B,B,10.3,994,949,4524,4200,POINT (938482 1946573),POINT (936654 1943306)
2,9036319,9003077,구기동,상명대입구.석파랑,1111018200,1111018500,CG5217355715,CG5220756536,B,B,2.7,285,239,1265,1095,POINT (952173 1955715),POINT (952207 1956536)
3,2817,9010914,우성아파트,송파,1165010200,1171010700,CG6572644564,CG5869441825,B,T,1.2,2071,2120,10373,10456,POINT (965726 1944564),POINT (958694 1941825)
4,311,11121,서울준법지원센터.동성빌라,연신내,1123010900,1138010300,CG4891857894,CG6183254124,B,T,0.4,3187,3192,17578,17610,POINT (948918 1957894),POINT (961832 1954124)

In [62]:
evening.evening_daily_commute_count.astype(str).str.len().unique()
morning.morning_daily_commute_count.astype(str).str.len().unique()

array([3, 4, 5, 6])

In [63]:
# geodataframe
morning = gpd.GeoDataFrame(morning)
morning = morning.set_geometry("live_station_geometry", crs="EPSG:5179")
evening = gpd.GeoDataFrame(evening)
evening = evening.set_geometry("live_station_geometry", crs="EPSG:5179")

In [65]:
# db 적재
morning.to_postgis('tb_metropolitan_morning_commute_od_202407', con= postgres_engine, schema='문재식',
                   if_exists='append', index=False)
evening.to_postgis('tb_metropolitan_evening_commute_od_202407', con= postgres_engine, schema='문재식',
                   if_exists='append', index=False)

# 2. 플랫폼 비전 스키마 업로드
- 단지 - 업무지 OD 데이터

In [9]:
# 데이터 불러오기
complex_workplace_od = gpd.read_postgis("SELECT * FROM 문재식.tb_metropolitan_complex_workplace_od_202407", postgres_engine, geom_col = 'complex_geometry')
complex_workplace_od

,complex_key,complex_name,road_name_address_management_number,road_name_address,complex_cluster_id,complex_cluster_name,work_station_id,work_station_name,work_station_type,work_station_cluster_id,...,business_district_name,complex_household_count,complex_household_cluster_ratio,complex_morning_daily_commute_count,complex_morning_commute_average_time,complex_morning_commute_median_time,complex_morning_commute_average_distance,complex_morning_commute_median_distance,complex_geometry,work_station_geometry
0,c01159454,동성,28245102426502000000600000,인천광역시 계양구 경명대로1029번길 6,85,경인교대입구,3117,갈산,T,74,...,None,90.0,0.01,0.6,647.4,653.6,2351.0,2390.8,"POLYGON ((931285.906 1949733.562, 931282.426 1...",01010000203B140000000000000C6B2C410000000049B4...
1,c01159454,동성,28245102426502000000600000,인천광역시 계양구 경명대로1029번길 6,85,경인교대입구,3119,부평시장,T,81,...,None,90.0,0.01,0.4,945.9,936.8,5666.3,5702.0,"POLYGON ((931285.906 1949733.562, 931282.426 1...",01010000203B140000000000006E6B2C410000000032AC...
2,c01159454,동성,28245102426502000000600000,인천광역시 계양구 경명대로1029번길 6,85,경인교대입구,2748,가산디지털단지,T,193,...,가산디지털단지,90.0,0.01,0.3,2695.7,2750.6,19504.9,19508.1,"POLYGON ((931285.906 1949733.562, 931282.426 1...",01010000203B140000000000000EDA2C410000000001A4...
3,c01159454,동성,28245102426502000000600000,인천광역시 계양구 경명대로1029번길 6,85,경인교대입구,1805,송내,T,102,...,None,90.0,0.01,0.2,1647.0,1637.5,8851.4,8873.4,"POLYGON ((931285.906 1949733.562, 931282.426 1...",01010000203B140000000000009A802C410000000078A7...
4,c01159454,동성,28245102426502000000600000,인천광역시 계양구 경명대로1029번길 6,85,경인교대입구,3134,테크노파크,T,34,...,인천 테크노파크,90.0,0.01,0.2,2593.5,2586.5,20639.1,20657.5,"POLYGON ((931285.906 1949733.562, 931282.426 1...",01010000203B14000000000000123D2C4100000000237A...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,c01131059,서창꿈에그린,28200105335038600001100000,인천광역시 남동구 운연천로 11,99,운연(서창),2805906,인천서창동우체국,B,99,...,None,1212.0,0.08,2.6,998.0,898.9,4351.7,3975.5,"POLYGON ((934133.337 1937187.759, 934446.062 1...",01010000203B14000000000000847F2C4100000000378B...
119996,c01131059,서창꿈에그린,28200105335038600001100000,인천광역시 남동구 운연천로 11,99,운연(서창),2807419,뒷방죽들,B,99,...,None,1212.0,0.08,2.5,829.7,764.8,3688.6,3360.0,"POLYGON ((934133.337 1937187.759, 934446.062 1...",01010000203B14000000000000B4842C41000000009B8D...
119997,c01131059,서창꿈에그린,28200105335038600001100000,인천광역시 남동구 운연천로 11,99,운연(서창),2801846,길병원,B,71,...,None,1212.0,0.08,2.4,1522.2,1523.1,7498.8,7499.2,"POLYGON ((934133.337 1937187.759, 934446.062 1...",01010000203B1400000000000052612C41000000001498...
119998,c01131059,서창꿈에그린,28200105335038600001100000,인천광역시 남동구 운연천로 11,99,운연(서창),2805657,청광플러스원아파트,B,99,...,None,1212.0,0.08,2.4,478.2,468.7,1839.8,1820.6,"POLYGON ((934133.337 1937187.759, 934446.062 1...",01010000203B14000000000000307E2C4100000000F18E...
119999,c01131059,서창꿈에그린,28200105335038600001100000,인천광역시 남동구 운연천로 11,99,운연(서창),2803807,인천논현역앞,B,36,...,None,1212.0,0.08,2.2,1240.5,1225.3,5672.4,5727.1,"POLYGON ((934133.337 1937187.759, 934446.062 1...",01010000203B14000000000000546C2C41000000009281...

In [ ]:
user = os.getenv("SUPERUSER_ID")
password = os.getenv("SUPERUSER_PASSWORD")
postgres_engine = create_engine(f'postgresql+psycopg2://{user}:{password}@10.10.12.181:5432/dataops')

In [21]:
# 플랫폼 마트 db 접속 정보
from urllib.parse import quote_plus

aws_user = os.getenv("AWSRDS_ID")
aws_password = quote_plus(os.getenv("AWSRDS_PASSWORD"))
awsrds_engine = create_engine(f'postgresql+psycopg2://{aws_user}:{aws_password}@bps-data.c0gqj5ketijm.ap-northeast-2.rds.amazonaws.com:5432/postgres')

In [22]:
from sqlalchemy import inspect
insp = inspect(awsrds_engine)
schemas = insp.get_schema_names()
print(schemas)

['bv_platform_data_mart', 'bv_platform_vision', 'information_schema', 'public', '현해준']

In [27]:
from sqlalchemy import create_engine, MetaData, Table, Column
from geoalchemy2 import Geometry
import os
from urllib.parse import quote_plus

# postgres_engine
# awsrds_engine

metadata = MetaData(schema="문재식")

# 테이블 반영(reflect)할 때, geometry 컬럼을 직접 지정해 줌
src_table = Table(
    "tb_metropolitan_complex_workplace_od_202407",
    metadata,
    # geometry 컬럼들에 대해 GeoAlchemy2 Geometry 타입 지정
    Column("complex_geometry",       Geometry(geometry_type="POLYGON", srid=5179)),
    Column("work_station_geometry",  Geometry(geometry_type="POINT",        srid=5179)),
    autoload_with=postgres_engine,
    autoload_replace=False
)
src_table

Table('tb_metropolitan_complex_workplace_od_202407', MetaData(), Column('complex_key', VARCHAR(length=9), table=<tb_metropolitan_complex_workplace_od_202407>, primary_key=True, nullable=False), Column('complex_name', VARCHAR(length=500), table=<tb_metropolitan_complex_workplace_od_202407>), Column('road_name_address_management_number', VARCHAR(length=26), table=<tb_metropolitan_complex_workplace_od_202407>), Column('road_name_address', VARCHAR(length=500), table=<tb_metropolitan_complex_workplace_od_202407>), Column('complex_cluster_id', VARCHAR(length=5), table=<tb_metropolitan_complex_workplace_od_202407>), Column('complex_cluster_name', VARCHAR(length=100), table=<tb_metropolitan_complex_workplace_od_202407>), Column('work_station_id', VARCHAR(length=20), table=<tb_metropolitan_complex_workplace_od_202407>, primary_key=True, nullable=False), Column('work_station_name', VARCHAR(length=50), table=<tb_metropolitan_complex_workplace_od_202407>), Column('work_station_type', VARCHAR(length=1), table=<tb_metropolitan_complex_workplace_od_202407>, primary_key=True, nullable=False), Column('work_station_cluster_id', VARCHAR(length=5), table=<tb_metropolitan_complex_workplace_od_202407>), Column('work_station_grid_id', VARCHAR(length=12), table=<tb_metropolitan_complex_workplace_od_202407>, primary_key=True, nullable=False), Column('business_district_name', VARCHAR(length=50), table=<tb_metropolitan_complex_workplace_od_202407>), Column('complex_household_count', NUMERIC(), table=<tb_metropolitan_complex_workplace_od_202407>), Column('complex_household_cluster_ratio', NUMERIC(), table=<tb_metropolitan_complex_workplace_od_202407>), Column('complex_morning_daily_commute_count', NUMERIC(), table=<tb_metropolitan_complex_workplace_od_202407>), Column('complex_morning_commute_average_time', NUMERIC(), table=<tb_metropolitan_complex_workplace_od_202407>), Column('complex_morning_commute_median_time', NUMERIC(), table=<tb_metropolitan_complex_workplace_od_202407>), Column('complex_morning_commute_average_distance', NUMERIC(), table=<tb_metropolitan_complex_workplace_od_202407>), Column('complex_morning_commute_median_distance', NUMERIC(), table=<tb_metropolitan_complex_workplace_od_202407>), Column('complex_geometry', Geometry(geometry_type='POLYGON', srid=5179, from_text='ST_GeomFromEWKT', name='geometry'), table=<tb_metropolitan_complex_workplace_od_202407>), Column('work_station_geometry', Geometry(geometry_type='POINT', srid=5179, from_text='ST_GeomFromEWKT', name='geometry'), table=<tb_metropolitan_complex_workplace_od_202407>), schema='문재식')

In [37]:
from sqlalchemy import create_engine, MetaData, Table, Column, Index, inspect
from geoalchemy2 import Geometry
import os
from urllib.parse import quote_plus

# 1) Engine settings (assumed defined elsewhere)
# postgres_engine = create_engine(...)
# awsrds_engine   = create_engine(...)

# 2) Reflect Source Table (ensure Column is imported)
src_meta = MetaData(schema="문재식")
src_table = Table(
    "tb_metropolitan_complex_workplace_od_202407",
    src_meta,
    Column("complex_geometry",      Geometry("POLYGON", srid=5179)),
    Column("work_station_geometry", Geometry("POINT",   srid=5179)),
    autoload_with=postgres_engine,
    autoload_replace=False
)

# 3) Prepare destination metadata & clone table
dest_meta  = MetaData(schema="bv_platform_vision")
dest_table = src_table.to_metadata(dest_meta, name=src_table.name)
# Override schema to target
dest_table.schema = "bv_platform_vision"

# 4) Clear any automatically copied indexes to avoid long names
dest_table.indexes.clear()

# 5) Create table without indexes
dest_meta.create_all(awsrds_engine)

# 6) Manually create short-named GIST indexes
# complex_geometry index
Index(
    "idx_mcwd_cgeom",
    dest_table.c.complex_geometry,
    postgresql_using="gist"
).create(bind=awsrds_engine)

# work_station_geometry index
Index(
    "idx_mcwd_wgeom",
    dest_table.c.work_station_geometry,
    postgresql_using="gist"
).create(bind=awsrds_engine)

print("✅ Table and short-named GIST indexes created in bv_platform_vision schema.")

✅ Table and short-named GIST indexes created in bv_platform_vision schema.

In [40]:
# 2) 컬럼·타입 보기
for col in insp.get_columns("tb_metropolitan_complex_workplace_od_202407", schema="bv_platform_vision"):
    print(col["name"], col["type"])

# 3) 인덱스 보기
print(insp.get_indexes("tb_metropolitan_complex_workplace_od_202407", schema="bv_platform_vision"))

complex_key VARCHAR(9)
complex_name VARCHAR(500)
road_name_address_management_number VARCHAR(26)
road_name_address VARCHAR(500)
complex_cluster_id VARCHAR(5)
complex_cluster_name VARCHAR(100)
work_station_id VARCHAR(20)
work_station_name VARCHAR(50)
work_station_type VARCHAR(1)
work_station_cluster_id VARCHAR(5)
work_station_grid_id VARCHAR(12)
business_district_name VARCHAR(50)
complex_household_count NUMERIC
complex_household_cluster_ratio NUMERIC
complex_morning_daily_commute_count NUMERIC
complex_morning_commute_average_time NUMERIC
complex_morning_commute_median_time NUMERIC
complex_morning_commute_average_distance NUMERIC
complex_morning_commute_median_distance NUMERIC
complex_geometry geometry(POLYGON,5179)
work_station_geometry geometry(POINT,5179)
[{'name': 'idx_mcwd_cgeom', 'unique': False, 'column_names': ['complex_geometry'], 'include_columns': [], 'dialect_options': {'postgresql_using': 'gist', 'postgresql_include': []}}, {'name': 'idx_mcwd_wgeom', 'unique': False, 'column_names': ['work_station_geometry'], 'include_columns': [], 'dialect_options': {'postgresql_using': 'gist', 'postgresql_include': []}}]

In [43]:
gpd.read_postgis("SELECT * FROM bv_platform_vision.tb_metropolitan_complex_workplace_od_202407", awsrds_engine,
                 geom_col = 'complex_geometry')

Empty GeoDataFrame
Columns: [complex_key, complex_name, road_name_address_management_number, road_name_address, complex_cluster_id, complex_cluster_name, work_station_id, work_station_name, work_station_type, work_station_cluster_id, work_station_grid_id, business_district_name, complex_household_count, complex_household_cluster_ratio, complex_morning_daily_commute_count, complex_morning_commute_average_time, complex_morning_commute_median_time, complex_morning_commute_average_distance, complex_morning_commute_median_distance, complex_geometry, work_station_geometry]
Index: []

[0 rows x 21 columns]

In [42]:
import pandas as pd

df = pd.read_sql(
    text("SELECT COUNT(*) AS cnt FROM bv_platform_vision.tb_metropolitan_complex_workplace_od_202407"),
    awsrds_engine
)
print(df)

   cnt
0    0