import duckdb as duck
import random 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
import seaborn as sns
from scipy.spatial import Voronoi
from shapely.geometry import Polygon
import fiona 
import os
from matplotlib import font_manager as fm
import warnings
import nbformat
from tqdm import tqdm
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 100)
pd.set_option('display.float_format', '{:.2f}'.format)


fm.findSystemFonts()
font_location = '/usr/share/fonts/NanumFont/NanumBarunGothic.ttf'
font_name = fm.FontProperties(fname=font_location).get_name()
plt.rc('font', family=font_name)

size = os.path.getsize('/home/kdata/myanalysis.db')
print(f"{size/1024/1024/1024.:.2f}GB")
# duckdb db 불러오기
con = duck.connect(database='/home/kdata/myanalysis.db', read_only=False) # 한번에 하나만 연결되는 것으로 확인
# con = duck.connect()
# 메모리 110GB 제한
# 메모리 스필 관련 설정
con.execute("PRAGMA temp_directory='/tmp';")
con.execute("PRAGMA memory_limit='100GB';")

# 1. OD 매핑
1) New_PK 매핑
2) 환승역 정제 매핑

con.execute("select * from information_schema.tables where table_schema='teenager';").df()

con.execute('show tables').df()

con.execute("SELECT count(*) FROM tb_station_transfer_modified;").df() # 환승역 정제 테이블

con.execute("select count(*) from teenager.tb_linked_transport_teenager_2024;").df()

# 매핑 문제 없음 
4260011/247553159*100

con.execute("select * from tb_station_transfer_modified where 교통수단구분 = 'T' limit 3;").df()

con.execute("select * from teenager.tb_linked_transport_teenager_2024 limit 3").df()

# 새 정제 테이블 생성
query = '''
DROP TABLE IF EXISTS teenager.tb_linked_transport_teenager_2024_transfer_applied;
CREATE TABLE teenager.tb_linked_transport_teenager_2024_transfer_applied
(   운행일자 VARCHAR,
    가상카드번호 VARCHAR,
    트랜잭션ID INT,
    승차정류장ID INT,
    하차정류장ID INT,
    승차정류장PK VARCHAR,
    하차정류장PK VARCHAR,
    승차정류장명칭 VARCHAR,
    하차정류장명칭 VARCHAR,
    승차지역코드 VARCHAR,
    하차지역코드 VARCHAR,
    승차일시 VARCHAR,
    하차일시 VARCHAR,
    승차교통수단구분 VARCHAR(1),
    하차교통수단구분 VARCHAR(1),
    총이용거리 NUMERIC,
    총탑승시간 NUMERIC,
    승차_x DOUBLE PRECISION,
    승차_y DOUBLE PRECISION,
    하차_x DOUBLE PRECISION,
    하차_y DOUBLE PRECISION)
'''
con.execute(query).df()

# 지하철 환승역인 경우 -> 정류장ID_min, x_5179_centroid, y_5179_centroid 존재
# 결측치: 결합무결성 1.7% 탈락
# 테이블에 매핑해보고 
query = '''
    WITH station AS(
        SELECT *
        FROM tb_station_transfer_modified
    )
    INSERT INTO teenager.tb_linked_transport_teenager_2024_transfer_applied
    SELECT
        lt.운행일자,
        lt.가상카드번호,
        lt.트랜잭션ID,
        COALESCE(pk1.정류장ID_min, lt.승차정류장ID) AS 승차정류장ID,
        COALESCE(pk2.정류장ID_min, lt.하차정류장ID) AS 하차정류장ID,
        pk1.new_pk AS 승차정류장PK,
        pk2.new_pk AS 하차정류장PK,
        pk1.정류장명칭 AS 승차정류장명칭,
        pk2.정류장명칭 AS 하차정류장명칭,
        lt.승차지역코드,
        lt.하차지역코드,
        lt.승차일시,
        lt.하차일시,
        lt.승차교통수단구분,
        lt.하차교통수단구분,
        lt.총이용거리,
        lt.총탑승시간,
        COALESCE(pk1.x_5179_centroid, pk1.x_5179) AS 승차_x,
        COALESCE(pk1.y_5179_centroid, pk1.y_5179) AS 승차_y,
        COALESCE(pk2.x_5179_centroid, pk2.x_5179) AS 하차_x,
        COALESCE(pk2.y_5179_centroid, pk2.y_5179) AS 하차_y
    FROM teenager.tb_linked_transport_teenager_2024 lt
    -- 승차 통행
    LEFT JOIN station pk1
        ON lt.승차정류장ID::BIGINT = pk1.정류장ID::BIGINT
        AND lt.승차지역코드 = pk1.지역코드
        AND lt.승차교통수단구분 = pk1.교통수단구분
    -- 하차 통행
    LEFT JOIN station pk2
        ON lt.하차정류장ID::BIGINT = pk2.정류장ID::BIGINT
        AND lt.하차지역코드 = pk2.지역코드
        AND lt.하차교통수단구분 = pk2.교통수단구분
    WHERE pk1.new_pk IS NOT NULL 
        AND pk2.new_pk IS NOT NULL
    '''
con.execute(query).df() # 365일 구분 없이 있음

# 2. 집계
- 가상카드번호와 주거지, 학교 세트를 불러와서 조인

con.execute("select * from teenager.tb_cardid_dbscan_clustered;").df()

# 테이블 생성
query = '''
DROP TABLE IF EXISTS teenager.tb_school_od_2024;
CREATE TABLE teenager.tb_school_od_2024
(
    origin_station_id VARCHAR,
    destination_station_id VARCHAR,
    origin_station_pk VARCHAR,
    destination_station_pk VARCHAR,
    origin_station_name VARCHAR,
    destination_station_name VARCHAR,
    origin_area_code VARCHAR,
    destination_area_code VARCHAR,
    origin_station_type VARCHAR(1),
    destination_station_type VARCHAR(1),
    trip_type VARCHAR(10),
    annual_count BIGINT,
    average_time NUMERIC,
    median_time NUMERIC,
    average_distance NUMERIC,
    median_distance NUMERIC,
    승차_x DOUBLE PRECISION,
    승차_y DOUBLE PRECISION,
    하차_x DOUBLE PRECISION,
    하차_y DOUBLE PRECISION)
'''
con.execute(query).df()

con.execute('select min(운행일자), max(운행일자) from teenager.tb_linked_transport_teenager_2024_transfer_applied').df()

# 1. 연단위 총 컬럼과 일 평균

query = '''
-- 1. 방학과 주말 제거
WITH school_days AS
(
    SELECT *
    FROM teenager.tb_linked_transport_teenager_2024_transfer_applied
    WHERE 운행일자 NOT LIKE '202401%' 
        AND 운행일자 NOT LIKE '202402%' 
        AND 운행일자 NOT LIKE '202407%' 
        AND 운행일자 NOT LIKE '202408%'
    -- 평일만 남기기
        AND STRFTIME(STRPTIME(승차일시, '%Y%m%d%H%M%S'), '%w') NOT IN ('0', '6') 
        AND STRPTIME(SUBSTR(승차일시, 1, 8), '%Y%m%d') NOT IN (SELECT holiday_date FROM temp_holidays_2024)
),
dbscan_transfer_applied AS 
(
    SELECT dbs.*,
        tr.new_pk
    FROM teenager.tb_cardid_dbscan_clustered dbs
    LEFT JOIN tb_station_transfer_modified tr
        ON dbs.정류장ID = tr.정류장ID
        AND dbs.지역코드 = tr.지역코드
        AND dbs.교통수단구분 = tr.교통수단구분
),
cluster_mapped AS(
    SELECT od.*,
        dbs_h1.클러스터구분 AS 승차_주거지클러스터구분,
        dbs_h2.클러스터구분 AS 하차_주거지클러스터구분,
        dbs_s1.클러스터구분 AS 승차_학교클러스터구분,
        dbs_s2.클러스터구분 AS 하차_학교클러스터구분
    FROM school_days od
    -- 승차&주거지 정류장 유무
    LEFT JOIN dbscan_transfer_applied dbs_h1
        ON od.가상카드번호 = dbs_h1.가상카드번호
        AND od.승차정류장PK = dbs_h1.new_pk
        AND dbs_h1.클러스터구분 IN ('home', 'school')
    -- 하차&주거지 정류장 유무
    LEFT JOIN dbscan_transfer_applied dbs_h2
        ON od.가상카드번호 = dbs_h2.가상카드번호
        AND od.하차정류장PK = dbs_h2.new_pk
        AND dbs_h2.클러스터구분 = 'home'
    -- 승차&학교 정류장 유무
    LEFT JOIN dbscan_transfer_applied dbs_s1
        ON od.가상카드번호 = dbs_s1.가상카드번호
        AND od.승차정류장PK = dbs_s1.new_pk
        AND dbs_s1.클러스터구분 = 'school'
    -- 하차&학교 정류장 유무
    LEFT JOIN dbscan_transfer_applied dbs_s2
        ON od.가상카드번호 = dbs_s2.가상카드번호
        AND od.하차정류장PK = dbs_s2.new_pk
        AND dbs_s2.클러스터구분 = 'school'
        -- 등교 패턴
    WHERE (dbs_h1.클러스터구분 = 'home' AND dbs_s2.클러스터구분 = 'school')
        -- 하교 패턴
        OR (dbs_h2.클러스터구분 = 'home' AND dbs_s1.클러스터구분 = 'school')
),
case_applied AS(
    SELECT *,
            CASE WHEN 승차_주거지클러스터구분 = 'home' AND 하차_학교클러스터구분 = 'school' THEN 'morning'
            WHEN 하차_주거지클러스터구분 = 'home' AND 승차_학교클러스터구분 = 'school' THEN 'evening' 
            END AS trip_type
    FROM cluster_mapped
)
INSERT INTO teenager.tb_school_od_2024
SELECT 
    MAX(승차정류장ID) AS origin_station_id,
    MAX(하차정류장ID) AS destination_station_id,
    승차정류장PK AS origin_station_pk,
    하차정류장PK AS destination_station_pk,
    MAX(승차정류장명칭) AS origin_station_name,
    MAX(하차정류장명칭) AS destination_station_name,
    MAX(승차지역코드) AS origin_area_code,
    MAX(하차지역코드) AS destination_area_code,
    MAX(승차교통수단구분) AS origin_station_type,
    MAX(하차교통수단구분) AS destination_station_type,
    trip_type,
    COUNT(*) AS annual_count,
    AVG(총탑승시간) AS average_time,
    MEDIAN(총탑승시간) AS median_time,
    AVG(총이용거리) AS average_distance,
    MEDIAN(총이용거리) AS median_distance,
    MAX(승차_x) AS 승차_x,
    MAX(승차_y) AS 승차_y,
    MAX(하차_x) AS 하차_x,
    MAX(하차_y) AS 하차_y
FROM case_applied
GROUP BY 승차정류장PK, 하차정류장PK, trip_type
'''

con.execute(query).df()

con.execute('select * from teenager.tb_school_od_2024 limit 10;').df()