# 프로세스 설명
- DBSCAN을 통해 통학 패턴 인식

import duckdb as duck
import random 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
import seaborn as sns
from scipy.spatial import Voronoi
from shapely.geometry import Polygon
import fiona 
import os
from matplotlib import font_manager as fm
import warnings
import nbformat
from tqdm import tqdm
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 100)
pd.set_option('display.float_format', '{:.2f}'.format)

from teenager.teenager_cluster import *

fm.findSystemFonts()
font_location = '/usr/share/fonts/NanumFont/NanumBarunGothic.ttf'
font_name = fm.FontProperties(fname=font_location).get_name()
plt.rc('font', family=font_name)

size = os.path.getsize('myanalysis.db')
print(f"{size/1024/1024/1024.:.2f}GB")
# duckdb db 불러오기
con = duck.connect(database='myanalysis.db', read_only=False) # 한번에 하나만 연결되는 것으로 확인
# con = duck.connect()
# 메모리 110GB 제한
# 메모리 스필 관련 설정
con.execute("PRAGMA temp_directory='/tmp';")
con.execute("PRAGMA memory_limit='100GB';")

# 0. 환승역 정제 프로세스

# 1231 정류장 데이터 import
station_1231 = pd.read_csv("import_data/TB_KTS_STTN/202412/TB_KTS_STTN_20241231.csv")\
                .drop(columns=['정산사코드', '법정동코드', '정류장ARS번호'])
print(len(station_1231))
print(station_1231.isnull().sum())
station_1231.dropna(inplace=True)
print(len(station_1231))
station_1231.head()

# 이슈 해결
# 이슈 1: 김포공항이 부천종합운동장역 옆에 잘못된 포인트 하나 있음
print(len(station_1231))
station_1231 = station_1231.query("정류장ID != 1980 or 지역코드 != '11100'")
print(len(station_1231))

# 이슈 2: x <-> y 바뀐 사례 체인지
crs_switched = station_1231.query("정류장GPSY좌표 > 100")
print(f"좌표값 바껴있는 경우 {len(crs_switched)}개")
crs_switched['정류장GPSX좌표_2'] = crs_switched.정류장GPSX좌표
crs_switched.정류장GPSX좌표 = crs_switched.정류장GPSY좌표
crs_switched.정류장GPSY좌표 = crs_switched.정류장GPSX좌표_2
crs_switched.drop(columns = '정류장GPSX좌표_2', inplace=True)

# 재결합 
station_fixed = pd.concat([station_1231.query("정류장GPSY좌표 < 100"), crs_switched])
print(len(station_fixed))

# DuckDB에 등록
# con.register("temp_station_fixed", station_fixed)

# Create into table
query = '''
    DROP TABLE IF EXISTS tb_station_fixed_20241231;
    CREATE TABLE tb_station_fixed_20241231
    (정류장ID VARCHAR,
     지역코드 VARCHAR,
     교통수단구분 VARCHAR(1),
     정류장명칭 VARCHAR,
     x DOUBLE PRECISION,
     y DOUBLE PRECISION);
    INSERT INTO tb_station_fixed_20241231
    (SELECT 
        정류장ID,
        지역코드,
        교통수단구분,
        정류장명칭,
        정류장GPSX좌표 AS x,
        정류장GPSY좌표 AS y
    FROM temp_station_fixed);
    SELECT * FROM tb_station_fixed_20241231 LIMIT 3;
'''

# con.execute(query).df()

from pyproj import Transformer

transformer = Transformer.from_crs("EPSG:4326", "EPSG:5179", always_xy=True)

# Transform to UTM: 4326 -> 5179
station_fixed['x_5179'], station_fixed['y_5179'] = transformer.transform(
    station_fixed.정류장GPSX좌표, station_fixed.정류장GPSY좌표)

subway_fixed = station_fixed.query("교통수단구분=='T'")

# 환승역 dbscan 수행 cluster_label 생성 => 0일 경우 환승역 묶인 것
subway_clustered = pd.DataFrame()
for station_name, station_df in subway_fixed.groupby('정류장명칭'): # 정류장 명칭 그룹 내에서 수행
    station_coords = station_df[['x_5179', 'y_5179']].values
    station_df['cluster_label']=\
        DBSCAN(eps=400, min_samples = 2, metric='euclidean').fit_predict(station_coords)
    subway_clustered = pd.concat([subway_clustered, station_df])

subway_clustered.query("정류장명칭=='시청'") # 예시 데이터: 시청

subway_clustered[(subway_clustered.x_5179 > 9999999) | (subway_clustered.y_5179 >9999999)]

# 파일로 추출 -> 확인
# station_clustered_gdf = gpd.GeoDataFrame(subway_clustered, geometry= gpd.points_from_xy(subway_clustered.x_5179,
#                                                              subway_clustered.y_5179),
#                  crs='EPSG:5179')
# station_clustered_gdf.to_file('test_subway.geojson')

## 0.1. 환승역 정제 테이블 업로드

# 매핑 테이블 생성 ( N:1 )
transfer_subway = subway_clustered.query("cluster_label != -1") # 환승역 
single_subway = subway_clustered.query("cluster_label == -1") # 일반 지하철 - 노이즈 

print(len(transfer_subway))

transfer_subway['정류장ID_min'] = transfer_subway.groupby(['지역코드', '교통수단구분', '정류장명칭','cluster_label'])\
                ['정류장ID'].transform('min')
transfer_subway['x_5179_centroid'] = transfer_subway.groupby(['지역코드', '교통수단구분', '정류장명칭','cluster_label'])\
                ['x_5179'].transform('mean')
transfer_subway['y_5179_centroid'] = transfer_subway.groupby(['지역코드', '교통수단구분', '정류장명칭','cluster_label'])\
                ['y_5179'].transform('mean')

transfer_subway_modified = pd.concat([single_subway, transfer_subway])[['정류장ID', '지역코드', '교통수단구분', '정류장명칭',
                                                                 'x_5179', 'y_5179', '정류장ID_min', 'x_5179_centroid', 
                                                                        'y_5179_centroid']]
print(len(transfer_subway_modified))
transfer_subway_modified.head()

len(single_subway)

# 환승역으로만 모여있음
print((transfer_subway.groupby('정류장명칭').size()<2).sum()) # 0개, 즉 모든게 다 환승역
# 고유값 확인 
transfer_subway.정류장명칭.nunique()

# 기존 버스와 재결합
bus_sample = station_fixed.query("교통수단구분 == 'B'")[['지역코드', '교통수단구분', '정류장ID', '정류장명칭',
                                                   'x_5179', 'y_5179']]

total_clustered = pd.concat([bus_sample, transfer_subway_modified])[[
    '정류장ID', '지역코드', '교통수단구분', '정류장명칭', 'x_5179', 'y_5179', 
    '정류장ID_min', 'x_5179_centroid', 'y_5179_centroid']]
total_clustered

# 새 PK 넣기
import hashlib


total_clustered['new_pk'] = total_clustered.apply(lambda row: hashlib.md5(f"{row['정류장ID']}-{row['지역코드']}-{row['교통수단구분']}".encode()).hexdigest()
                                                  if pd.isna(row['정류장ID_min']) else hashlib.md5(f"{row['정류장ID_min']}-{row['지역코드']}-{row['교통수단구분']}".encode()).hexdigest(), axis=1)
print(total_clustered.isna().sum())
total_clustered.head()

# DuckDB upload
con.register('temp_transfer_station', total_clustered)
query = '''
DROP TABLE IF EXISTS tb_station_transfer_modified;
CREATE TABLE tb_station_transfer_modified
    (정류장ID VARCHAR,
    지역코드 VARCHAR,
    교통수단구분 VARCHAR(1),
    정류장명칭 VARCHAR,
    x_5179 DOUBLE PRECISION,
    y_5179 DOUBLE PRECISION,
    정류장ID_min VARCHAR,
    x_5179_centroid DOUBLE PRECISION,
    y_5179_centroid DOUBLE PRECISION,
    new_pk VARCHAR);
INSERT INTO tb_station_transfer_modified
(SELECT * FROM temp_transfer_station);
'''
con.execute(query).df()

# 1. 타임 윈도우 테이블 생성

# 테이블 생성
query = '''
DROP TABLE IF EXISTS teenager.tb_residence_candidates_2024;
DROP TABLE IF EXISTS teenager.tb_school_candidates_2024;
CREATE TABLE teenager.tb_residence_candidates_2024
(가상카드번호 VARCHAR,
정류장ID VARCHAR,
일시 DATETIME,
지역코드 VARCHAR,
교통수단구분 VARCHAR(1),
type VARCHAR(2),
x DOUBLE PRECISION,
y DOUBLE PRECISION
);

CREATE TABLE teenager.tb_school_candidates_2024
(가상카드번호 VARCHAR,
정류장ID VARCHAR,
일시 DATETIME,
지역코드 VARCHAR,
교통수단구분 VARCHAR(1),
type VARCHAR(2),
x DOUBLE PRECISION,
y DOUBLE PRECISION
);
'''
# con.execute(query).df()

# Time Window - 주거지 테이블

query = '''
WITH school_days AS(
    SELECT *,
        strptime(승차일시, '%Y%m%d%H%M%S') AS board_time,
        strptime(하차일시, '%Y%m%d%H%M%S') AS alight_time
    FROM teenager.tb_linked_transport_teenager_2024
    WHERE 운행일자 NOT LIKE '202401%' 
        AND 운행일자 NOT LIKE '202402%' 
        AND 운행일자 NOT LIKE '202407%' 
        AND 운행일자 NOT LIKE '202408%'
    -- 평일만 남기기
        AND STRFTIME(STRPTIME(승차일시, '%Y%m%d%H%M%S'), '%w') NOT IN ('0', '6') 
        AND STRPTIME(SUBSTR(승차일시, 1, 8), '%Y%m%d') NOT IN (SELECT holiday_date FROM temp_holidays_2024)
),
residence_candidates AS (
SELECT 가상카드번호,
    승차정류장ID AS 정류장ID,
    board_time AS 일시,
    승차지역코드 AS 지역코드,
    승차교통수단구분 AS 교통수단구분,
    '승차' AS type
FROM school_days s
WHERE hour(s.board_time) BETWEEN 5 AND 10 

UNION

SELECT 가상카드번호,
    하차정류장ID AS 정류장ID,
    alight_time AS 일시,
    하차지역코드 AS 지역코드,
    하차교통수단구분 AS 교통수단구분,
    '하차' AS type
FROM school_days s
WHERE hour(s.alight_time) BETWEEN 15 AND 22 
),
-- 정류장 결합
stations AS (
    SELECT 지역코드, 
        교통수단구분, 
        정류장ID,
        정류장GPSY좌표, 
        정류장GPSX좌표 
    FROM temp_station_fixed
    WHERE 정류장GPSY좌표 IS NOT NULL 
    AND 정류장GPSX좌표 IS NOT NULL
)
INSERT INTO teenager.tb_residence_candidates_2024

SELECT rc.*,
    s1.정류장GPSX좌표 AS x,
    s1.정류장GPSY좌표 AS y,
FROM residence_candidates rc
JOIN stations s1
    ON rc.지역코드 = s1.지역코드
    AND rc.교통수단구분 = s1.교통수단구분
    AND rc.정류장ID = s1.정류장ID
'''

con.execute(query).df()

# Time Window - 주거지 테이블

query = '''
WITH school_days AS(
    SELECT *,
        strptime(승차일시, '%Y%m%d%H%M%S') AS board_time,
        strptime(하차일시, '%Y%m%d%H%M%S') AS alight_time
    FROM teenager.tb_linked_transport_teenager_2024
    WHERE 운행일자 NOT LIKE '202401%' 
        AND 운행일자 NOT LIKE '202402%' 
        AND 운행일자 NOT LIKE '202407%' 
        AND 운행일자 NOT LIKE '202408%'
    -- 평일만 남기기
        AND STRFTIME(STRPTIME(승차일시, '%Y%m%d%H%M%S'), '%w') NOT IN ('0', '6') 
        AND STRPTIME(SUBSTR(승차일시, 1, 8), '%Y%m%d') NOT IN (SELECT holiday_date FROM temp_holidays_2024)
),
residence_candidates AS (
SELECT 가상카드번호,
    승차정류장ID AS 정류장ID,
    board_time AS 일시,
    승차지역코드 AS 지역코드,
    승차교통수단구분 AS 교통수단구분,
    '승차' AS type
FROM school_days s
WHERE hour(s.board_time) BETWEEN 15 AND 22 

UNION

SELECT 가상카드번호,
    하차정류장ID AS 정류장ID,
    alight_time AS 일시,
    하차지역코드 AS 지역코드,
    하차교통수단구분 AS 교통수단구분,
    '하차' AS type
FROM school_days s
WHERE hour(s.alight_time) BETWEEN 5 AND 10 
),
-- 정류장 결합
stations AS (
    SELECT 지역코드, 
        교통수단구분, 
        정류장ID,
        정류장GPSY좌표, 
        정류장GPSX좌표 
    FROM temp_station_fixed
    WHERE 정류장GPSY좌표 IS NOT NULL 
    AND 정류장GPSX좌표 IS NOT NULL
)
INSERT INTO teenager.tb_school_candidates_2024

SELECT rc.*,
    s1.정류장GPSX좌표 AS x,
    s1.정류장GPSY좌표 AS y,
FROM residence_candidates rc
JOIN stations s1
    ON rc.지역코드 = s1.지역코드
    AND rc.교통수단구분 = s1.교통수단구분
    AND rc.정류장ID = s1.정류장ID
'''

con.execute(query).df()

# null 값 확인 
query = '''
    SELECT
        *
    FROM teenager.tb_school_candidates_2024
    WHERE x < 100 OR y > 100 -- x, y 바껴있는 경우 -> 없음
'''
con.execute(query).fetchdf()

# 2. 통학 패턴 인식 적용
- 메모리 부족으로 인해 가상카드번호 기준 1000명씩 배치 프로세스 진행
- 백 프로세스로 구동하기 위해 teenager.py로 이동하였음

con.execute("SELECT * FROM teenager.tb_residence_candidates_2024 LIMIT 10;").df()

# 각각 time_windowed table에서 가상카드번호 고유값 추출
user_ids_residence = con.execute("SELECT DISTINCT 가상카드번호 FROM teenager.tb_residence_candidates_2024;")\
                    .df()['가상카드번호'].tolist()
user_ids_school  = con.execute("SELECT DISTINCT 가상카드번호 FROM teenager.tb_school_candidates_2024;")\
                    .df()['가상카드번호'].tolist()
print(len(user_ids_residence), len(user_ids_school))

# Batch Pipeline
from pyproj import Transformer
transformer = Transformer.from_crs("EPSG:4326", "EPSG:5179", always_xy=True)

def process_batch(batch_ids, cluster_type):
    batch_df = pd.DataFrame({'가상카드번호': batch_ids})
    con.register('batch_ids', batch_df)

    df = con.execute(f'''
        SELECT 
            c.가상카드번호,
            c.정류장ID,
            c.지역코드,
            c.교통수단구분,
            c.x,
            c.y
        FROM teenager.tb_{cluster_type}_candidates_2024 c 
        JOIN batch_ids b USING (가상카드번호)
    ''').fetchdf()

    # CRS transform
    utm_x, utm_y = transformer.transform(df['x'].values, df['y'].values)
    df['x'], df['y'] = utm_x, utm_y
    
    # Group -> DBSCAN
    results = []
    for uid, user_df in df.groupby('가상카드번호'):
        coords = user_df[['x', 'y']].values
        labels = DBSCAN(eps=800, min_samples = 10, metric='manhattan').fit_predict(coords)
        mask = labels != -1
        if not mask.any():
            continue
        labs, counts = np.unique(labels[mask], return_counts=True)
        top_lab = labs[np.argmax(counts)]

        pk_df = user_df[labels == top_lab][['정류장ID', '지역코드', '교통수단구분']].drop_duplicates()
        for _, row in pk_df.iterrows():
            results.append((uid, row['정류장ID'], row['지역코드'], row['교통수단구분']))
        
    # Turn into DataFrame
    result_df = pd.DataFrame(results, columns = ['가상카드번호', '정류장ID', '지역코드', '교통수단구분'])
    return result_df

# Create table
query = '''
DROP TABLE IF EXISTS teenager.tb_cardid_dbscan_clustered;
CREATE TABLE teenager.tb_cardid_dbscan_clustered
    (가상카드번호 VARCHAR,
    정류장ID VARCHAR,
    지역코드 VARCHAR,
    교통수단구분 VARCHAR(1),
    클러스터구분 VARCHAR);
'''
# con.execute(query).df()

# 가상카드번호 고유값 n개 단위 배치 생성 
BATCH_SIZE = 10000
residence_batch = [user_ids_residence[i:i+BATCH_SIZE] for i in range(0, len(user_ids_residence), BATCH_SIZE)]
school_batch = [user_ids_school[i:i+BATCH_SIZE] for i in range(0, len(user_ids_school), BATCH_SIZE)]

-> 터미널 프로세스로 진행하기 위해 teenager.py 파일로 분리