# 프로세스 설명
- 전반적인 데이터 eda 수행
1) 데이터 정합성 및 정확성 점검
2) 수치값들에 대한 빈도값 및 박스 플롯을 통한 분포 확인

import duckdb as duck
import random 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
import seaborn as sns
from scipy.spatial import Voronoi
from shapely.geometry import Polygon
import fiona 
import warnings
from matplotlib import font_manager as fm
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('display.float_format', '{:.2f}'.format)

fm.findSystemFonts()
font_location = '/usr/share/fonts/NanumFont/NanumBarunGothic.ttf'
font_name = fm.FontProperties(fname=font_location).get_name()
plt.rc('font', family=font_name)

import os
size = os.path.getsize('/home/kdata/myanalysis.db')
size/1024/1024/1024

# duckdb db 불러오기
con = duck.connect(database='/home/kdata/myanalysis.db', read_only=False) # 한번에 하나만 연결되는 것으로 확인
# con = duck.connect()
# 메모리 110GB 제한
# 메모리 스필 관련 설정
con.execute("PRAGMA temp_directory='/tmp';")
con.execute("PRAGMA memory_limit='100GB';")

# 1. 데이터 확인

# 지하철역
station = pd.read_csv("/home/kdata/import_data/TB_KTS_STTN/202401/TB_KTS_STTN_20240101.csv")

test_teen = pd.read_csv('/home/kdata/import_data/TB_KTS_DWTCD_METROPOLITAN/202407/TB_KTS_DWTCD_METROPOLITAN_20240701.csv')

percents = test_teen['이용자유형코드(시스템)'].value_counts().sort_values(ascending = False)
percents= percents.to_frame().reset_index()
percents['sum'] = percents['count'].sum()
percents['percent'] = (percents['count']/percents['sum'] *100).round(1)
percents

test_teen.rename(columns={'이용자유형코드(시스템)':'user_type'}, inplace=True)
teen_0701 = test_teen.query("user_type == 3")
del test_teen

# 목적통행으로 집계 - 개수 확인 
teen_0701.groupby(['운행일자', '가상카드번호', '트랜잭션ID']).size().reset_index(name='count')

# 2. 데이터 적재

# table 생성
query = '''
DROP TABLE IF EXISTS teenager.tb_linked_transport_teenager_2024;
CREATE TABLE teenager.tb_linked_transport_teenager_2024
(운행일자 VARCHAR,
가상카드번호 VARCHAR,
트랜잭션ID INT,
승차정류장ID VARCHAR,
하차정류장ID VARCHAR,
승차일시 VARCHAR,
하차일시 VARCHAR,
승차지역코드 VARCHAR,
하차지역코드 VARCHAR,
승차교통수단코드 VARCHAR,
하차교통수단코드 VARCHAR,
최대환승건수 INT,
총이용거리 NUMERIC,
총탑승시간 NUMERIC);
'''
# con.execute(query).df()
# con.execute('select * from teenager.tb_linked_transport_teenager_2024;').df()

# db에 청소년만 로드하기
# 1. 달과 해당하는 날짜 세트로 만들기
from datetime import datetime, timedelta 

start_date = datetime(2024, 1, 1)
end_date = datetime(2024, 12, 31)

# 달별로 순회하면서 목적통행으로 묶고 인서트 스택 하는 방식
for i in range((end_date-start_date).days +1):
    date = start_date + timedelta(days=i)
    yyyymm = date.strftime('%Y%m')
    yyyymmdd = date.strftime('%Y%m%d')
    # print(f'processing %% {yyyymm}-{yyyymmdd}')
    q = f'''
    INSERT INTO teenager.tb_linked_transport_teenager_2024
    WITH original AS (
        SELECT 운행일자,
            가상카드번호,
            정산지역코드,
            카드구분코드,
            정산사차량ID,
            교통수단코드,
            정산사노선ID,
            승차일시,
            정산사승차정류장ID,
            하차일시,
            정산사하차정류장ID,
            트랜잭션ID,
            환승건수,
            "이용자유형코드(시스템)",
            이용자수,
            이용거리,
            탑승시간
        FROM read_csv("/home/kdata/import_data/TB_KTS_DWTCD_METROPOLITAN/{yyyymm}/TB_KTS_DWTCD_METROPOLITAN_{yyyymmdd}.csv", types= {{'운행일자':'VARCHAR',
            '가상카드번호':'VARCHAR',
            '카드구분코드':'VARCHAR',
            '정산사차량ID':'VARCHAR',
            '교통수단코드':'VARCHAR',
            '정산사노선ID':'VARCHAR',
            '승차일시':'VARCHAR',
            '정산사승차정류장ID':'VARCHAR',
            '하차일시':'VARCHAR',
            '정산사하차정류장ID':'VARCHAR',
            '트랜잭션ID':'INT',
            '환승건수':'VARCHAR',
            '이용자유형코드(시스템)':'VARCHAR',
            '이용자수':'INT',
            '이용거리':'NUMERIC',
            '탑승시간':'NUMERIC'}})
        WHERE "이용자유형코드(시스템)" = '03'
        AND 하차일시 IS NOT NULL
    ),
    -- 목적통행으로 집계
    base_set AS(
        SELECT 운행일자,
            가상카드번호,
            트랜잭션ID,
            SUM(이용거리) AS 총이용거리,
            SUM(탑승시간) AS 총탑승시간,
            MAX(환승건수) AS 최대환승건수
        FROM original og
        GROUP BY 운행일자, 가상카드번호, 트랜잭션ID
    )
    SELECT b.운행일자,
        b.가상카드번호,
        b.트랜잭션ID,
        og1.정산사승차정류장ID AS 승차정류장ID,
        og2.정산사하차정류장ID AS 하차정류장ID,
        og1.승차일시 AS 승차일시,
        og2.하차일시 AS 하차일시,
        og1.정산지역코드 AS 승차지역코드,
        og2.정산지역코드 AS 하차지역코드,
        og1.교통수단코드 AS 승차교통수단코드,
        og2.교통수단코드 AS 하차교통수단코드,
        b.최대환승건수,
        b.총이용거리,
        b.총탑승시간
    FROM base_set b
    JOIN original og1
        ON b.운행일자 = og1.운행일자
        AND b.가상카드번호 = og1.가상카드번호
        AND b.트랜잭션ID = og1.트랜잭션ID
        AND og1.환승건수 = 0
    JOIN original og2
        ON b.운행일자 = og2.운행일자
        AND b.가상카드번호 = og2.가상카드번호
        AND b.트랜잭션ID = og2.트랜잭션ID
        AND b.최대환승건수 = og2.환승건수
    '''
    # con.execute(q)

# 전체 통행 수
con.execute("SELECT COUNT(*) FROM teenager.tb_linked_transport_teenager_2024").df()

# 고유값 수
con.execute("SELECT COUNT(DISTINCT(가상카드번호)) FROM teenager.tb_linked_transport_teenager_2024").df()

# 교통수단구분 컬럼 추가 
query = '''
UPDATE teenager.tb_linked_transport_teenager_2024
SET 승차교통수단구분=CASE 
    WHEN 승차교통수단코드 BETWEEN '200' AND '299' THEN 'T'
        ELSE 'B'
    END;
UPDATE teenager.tb_linked_transport_teenager_2024
SET 하차교통수단구분=CASE
        WHEN 하차교통수단코드 BETWEEN '200' AND '299' THEN 'T'
        ELSE 'B'
    END;
SELECT *
FROM teenager.tb_linked_transport_teenager_2024
LIMIT 20;
'''
# con.execute(query).df()

# 3. 데이터 EDA

## 3.1. 연간 탑승 횟수 분포

# 1년간 탑승 횟수 분포 확인
query = '''
SELECT 가상카드번호, COUNT(*) AS count
FROM teenager.tb_linked_transport_teenager_2024
GROUP BY 가상카드번호
ORDER BY COUNT(*) DESC
LIMIT 20
'''
count = con.execute(query).df()

count

query = '''
SELECT *
FROM teenager.tb_linked_transport_teenager_2024
WHERE 가상카드번호 = 'NyeLyjK1qE/yb/wgaqiGDMS53Vy5CA2EvmZoxBrT3BQ='
'''
con.execute(query).df()

print(count['count'].value_counts())
print(count['count'].describe())
print(count['count'].mode().tolist())

plt.figure(figsize=(8,8))
sns.histplot(
    count['count'],
    bins=500,
    color='#6A5ACD',
    edgecolor=None
)
plt.xlim(0,1500)

# ax.yaxis.set_major_formatter(ScalarFormatter(useMathText=False))
plt.ticklabel_format(style='plain', axis='y')
plt.savefig('output/250715_teenager_data_eda_counts_all.png')
plt.show()

count['count'].plot.box()
plt.savefig('output/250715_teenager_data_eda_box.png')


query = '''
SELECT 운행일자, 가상카드번호, 트랜잭션ID, COUNT(*)
FROM teenager.tb_linked_transport_teenager_2024
GROUP BY 운행일자, 가상카드번호, 트랜잭션ID
HAVING COUNT(*) >1
ORDER BY 운행일자, 가상카드번호, 트랜잭션ID
'''

count_df = con.execute(query).df()

count_df

# 사례 확인 
test_sample = pd.read_csv('import_data/TB_KTS_DWTCD_METROPOLITAN/202412/TB_KTS_DWTCD_METROPOLITAN_20241231.csv').query("가상카드번호 == 'KSq6E9NGT/dZSwXf+AU4YvAPGNY9iUw+GCoOhpEQZTU='")
test_sample

con.execute('''
select SUBSTR(승차일시, 9) AS 승차일시간,
    SUBSTR(하차일시, 9) AS 하차일시간,
    *
from teenager.tb_linked_transport_teenager_2024 
where 가상카드번호 = 'Fa6I4JVJCJZRrdb2aSpkJ8m8ioHYxHGIO7pN5aPQd8w='
    and 운행일자 = '20241228'
order by 운행일자, 트랜잭션ID, 승차일시
''').df()

# 1년간 탑승 횟수 분포 확인
query = '''
SELECT 운행일자, 가상카드번호, 트랜잭션ID, COUNT(*)
FROM teenager.tb_linked_transport_teenager_2024
GROUP BY 운행일자, 가상카드번호, 트랜잭션ID
HAVING COUNT(*) >1
ORDER BY 운행일자, 가상카드번호, 트랜잭션ID
'''

count_df = con.execute(query).df()

count_df.rename(columns={'count_star()' :'count' }, inplace=True)
print(count_df['count'].value_counts())

## 3.2. 데이터 정합성 관련 처리

# 목적통행이 중복으로 잡히는 건들 제거 처리
query = '''
DELETE FROM teenager.tb_linked_transport_teenager_2024
WHERE (운행일자, 가상카드번호, 트랜잭션ID) IN(
SELECT 운행일자, 가상카드번호, 트랜잭션ID
    FROM teenager.tb_linked_transport_teenager_2024
    GROUP BY 운행일자, 가상카드번호, 트랜잭션ID
    HAVING COUNT(*) >1
    ORDER BY 운행일자, 가상카드번호, 트랜잭션ID
);'''
# con.execute(query).df()

con.execute("SELECT COUNT(*) FROM teenager.tb_linked_transport_teenager_2024;").df()

136805/247690876*100

# 승차시간이 하차시간보다 느린경우 정확성 파악 
query = '''
DELETE FROM teenager.tb_linked_transport_teenager_2024
WHERE (운행일자, 가상카드번호, 트랜잭션ID) IN (
SELECT 운행일자, 가상카드번호, 트랜잭션ID
FROM teenager.tb_linked_transport_teenager_2024
WHERE 승차일시>하차일시
);'''

# con.execute(query).df()

912/247553159*100

# 결과
con.execute("SELECT COUNT(*) FROM teenager.tb_linked_transport_teenager_2024;").df()

# 고유값인지 확인 
query = '''
SELECT 운행일자, 가상카드번호, 트랜잭션ID
    FROM teenager.tb_linked_transport_teenager_2024
    GROUP BY 운행일자, 가상카드번호, 트랜잭션ID
    HAVING COUNT(*) >1
    ORDER BY 운행일자, 가상카드번호, 트랜잭션ID
'''
con.execute(query).df()

## 3.3. 총 이동거리, 탑승시간 분포 확인

con.execute("select * from teenager.tb_linked_transport_teenager_2024 limit 2").df()

# 기초 통계 
query = '''
SELECT 
    AVG(총이용거리) AS 이용거리_평균,
    MIN(총이용거리) AS 이용거리_최소,
    PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY 총이용거리) AS 이용거리_Q1,    
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY 총이용거리) AS 이용거리_중위,
    PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY 총이용거리) AS 이용거리_Q3,
    MAX(총이용거리) AS 이용거리_최대,
    AVG(총탑승시간) AS 탑승시간_평균,
    MIN(총탑승시간) AS 탑승시간_최소,
    PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY 총탑승시간) AS 탑승시간_Q1,
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY 총탑승시간) AS 탑승시간_중위,
    PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY 총탑승시간) AS 탑승시간_Q3,
    MAX(총탑승시간) AS 탑승시간_최대    
FROM teenager.tb_linked_transport_teenager_2024
'''
analysis = con.execute(query).df()
analysis

query = '''
SELECT *
FROM teenager.tb_linked_transport_teenager_2024
ORDER BY 총탑승시간 DESC
LIMIT 20
'''
con.execute(query).df()

## 3.4. 승하차정류장 TOP10

# 가장 많이 승차하는 정류장 TOP 10 & 하차 정류장 TOP 10 - 평일 기준 
query = '''
WITH date_dist AS(
    SELECT *,
        CASE 
        WHEN ISODOW(strptime(하차일시, '%Y%m%d%H%M%S'))<6 THEN '평일'
        ELSE '주말'
        END AS '일자'
    FROM teenager.tb_linked_transport_teenager_2024
    WHERE 일자 = '평일'
        AND 하차교통수단구분 = 'B'
), 
top10 AS(
    SELECT 하차정류장ID, 
        하차지역코드, 
        하차교통수단구분,
        COUNT(*) AS count
    FROM date_dist
    GROUP BY 하차정류장ID, 하차지역코드, 하차교통수단구분
    ORDER BY COUNT(*) DESC
    LIMIT 10
)
SELECT t.*,
    st.정류장명칭
FROM top10 t
JOIN read_csv('import_data/TB_KTS_STTN/202412/TB_KTS_STTN_20241231.csv') st
    ON t.하차정류장ID = st.정류장ID
    AND t.하차지역코드::VARCHAR = st.지역코드
    AND t.하차교통수단구분 = st.교통수단구분
ORDER BY t.count DESC
'''
con.execute(query).df()

station.query("정류장ID==1706")

query = '''
SELECT * 
FROM read_csv('import_data/TB_KTS_DWTCD_METROPOLITAN/202405/TB_KTS_DWTCD_METROPOLITAN_20240505.csv')
WHERE 가상카드번호 = 'ivi0swavmepvUcEqX8zb2kTBKOD+3pI5+qQtiGBblf4='
'''
con.execute(query).df()

## 3.5. 월별 평일/주말 구분 히트맵

import holidays
# 공휴일 추가 
kr_holidays = holidays.KR(years=2024)
holiday_df = pd.DataFrame([{"holiday_date":pd.to_datetime(date), "holiday_name":name} for date, name in kr_holidays.items()])

# DuckDB 테이블 등록
# con.execute("CREATE TABLE IF NOT EXISTS temp_holidays_2024 AS SELECT * FROM holiday_df").df()
# con.register("temp_holidays", holiday_df)
# con.execute("select * from temp_holidays_2024 LIMIT 3;").df()

# 쿼리에서 요일/월 컬럼 추가 -승차
query = '''
SELECT 
    SUBSTR(승차일시, 1,6) AS 월,
    SUBSTR(승차일시, 9, 2) AS 시간대,
    CASE 
        WHEN STRFTIME(STRPTIME(승차일시, '%Y%m%d%H%M%S'), '%w') IN ('0', '6') 
            THEN '휴일'
        WHEN STRPTIME(SUBSTR(승차일시, 1, 8), '%Y%m%d') IN (SELECT holiday_date FROM temp_holidays) 
            THEN '휴일'
        ELSE '평일'
        END AS 휴일구분,
    COUNT(*) AS count
FROM teenager.tb_linked_transport_teenager_2024
GROUP BY 월, 휴일구분, 시간대
ORDER BY 월, 휴일구분, 시간대
'''
board = con.execute(query).df()

# 쿼리에서 요일/월 컬럼 추가 - 하차
query = '''
SELECT 
    SUBSTR(하차일시, 1,6) AS 월,
    SUBSTR(하차일시, 9, 2) AS 시간대,
    CASE 
        WHEN STRFTIME(STRPTIME(하차일시, '%Y%m%d%H%M%S'), '%w') IN ('0', '6') 
            THEN '휴일'
        WHEN STRPTIME(SUBSTR(하차일시, 1, 8), '%Y%m%d') IN (SELECT holiday_date FROM temp_holidays) 
            THEN '휴일'
        ELSE '평일'
        END AS 휴일구분,
    COUNT(*) AS count
FROM teenager.tb_linked_transport_teenager_2024
GROUP BY 월, 휴일구분, 시간대
ORDER BY 월, 휴일구분, 시간대
'''
alight = con.execute(query).df()

# 분석을 위한 pivot table 

board_pivot = board.pivot_table(
    index='월',
    columns=['휴일구분', '시간대'],
    values='count',
    fill_value=0
)

alight_pivot = alight.pivot_table(
    index='월',
    columns=['휴일구분', '시간대'],
    values='count',
    fill_value=0
)
try:
    board_pivot.drop('202501', axis=0, inplace=True)
    alight_pivot.drop('202501', axis=0, inplace=True)
except:
    None
alight_pivot

import matplotlib.ticker as ticker 

board_normal = board_pivot.iloc[:, :24]
plt.figure(figsize=(12,5), dpi =200)
sns.heatmap(board_normal, fmt="g", cmap="YlGnBu")

plt.title("평일 청소년 월별/시간대별 승차 패턴", fontsize=12, fontweight='bold')
plt.xlabel("휴일구분-시간대", fontweight='bold', fontsize=12)
plt.ylabel("월", fontweight='bold', fontsize=12)
plt.savefig('output/teenager/평일_청소년_월별_시간대별_승차_패턴.png')
plt.show()

board_holiday = board_pivot.iloc[:, 24:]
plt.figure(figsize=(12,5), dpi =200)
sns.heatmap(board_holiday, fmt="g", cmap="YlGnBu")

plt.title("주말 청소년 월별/시간대별 승차 패턴 ", fontsize=12, fontweight='bold')
plt.xlabel("휴일구분-시간대", fontsize=12, fontweight='bold')
plt.ylabel("월", fontsize=12, fontweight='bold')
plt.savefig('output/teenager/주말_청소년_월별_시간대별_승차_패턴.png')
plt.show()

alight_normal = alight_pivot.iloc[:, :24]
plt.figure(figsize=(12,5), dpi =200)
sns.heatmap(alight_normal, fmt="g", cmap="YlGnBu")

plt.title("평일 청소년 월별/시간대별 하차 패턴 ", fontsize=12, fontweight='bold')
plt.xlabel("휴일구분-시간대", fontsize=12, fontweight='bold')
plt.ylabel("월", fontsize=12, fontweight='bold')
plt.savefig('output/teenager/평일_청소년_월별_시간대별_하차_패턴.png')
plt.show()

alight_holiday = alight_pivot.iloc[:, 24:]
plt.figure(figsize=(12,5), dpi =200)
sns.heatmap(alight_holiday, fmt="g", cmap="YlGnBu")

plt.title("주말 청소년 월별/시간대별 하차 패턴 ", fontsize=12, fontweight='bold')
plt.xlabel("휴일구분-시간대", fontsize=12, fontweight='bold')
plt.ylabel("월", fontsize=12, fontweight='bold')
plt.savefig('output/teenager/주말_청소년_월별_시간대별_하차_패턴.png')
plt.show()

### 3.5.1 통학 패턴 엔트로피

# 엔트로피 실험 
def entropy(row, cols):
    values=row[cols].values
    total=values.sum()
    if total ==0:
        return 0
    probs = values / total
    return -np.sum(probs * np.log2(probs + 1e-9))

weekday_cols = [col for col in board_pivot.columns if '평일' in col]
weekend_cols = [col for col in board_pivot.columns if '휴일' in col]
print("승차_평일_엔트로피 점수/ ", board_pivot.apply(lambda row: entropy(row, weekday_cols), axis= 1), '\n')
print("승차_주말_엔트로피 점수/ ", board_pivot.apply(lambda row: entropy(row, weekend_cols), axis= 1), '\n')
print("하차_평일_엔트로피 점수/ ", alight_pivot.apply(lambda row: entropy(row, weekday_cols), axis= 1), '\n')
print("하차_주말_엔트로피 점수/ ", alight_pivot.apply(lambda row: entropy(row, weekend_cols), axis= 1), '\n')

alight_pivot

# 4. 데이터 전처리
1. [방학 제거, 주말 제거 평일만 남기기]
2. [연간 통행 횟수 기반 드랍]

# 개인별로 패턴 잡히는지 체크 들어가면 될듯
# 100명 정도 뽑아서 파이썬 파일 구분하고,

# 연간 통행횟수 확인
print("연간 통행횟수 기초통계", cleansed_annual_counts.describe(), '\n')
print("최빈값", cleansed_annual_counts['연간탑승횟수'].mode(), '\n')
print("최빈값 횟수", len(cleansed_annual_counts.query("연간탑승횟수 == 1")), '명\n')
cleansed_annual_counts.hist(bins=50)
cleansed_annual_counts.plot.box()

# 일반적 방학기간: 
# 여름: 7월 20일 ~ 8월 20일 
# 겨울: 12월 20일 ~ 1월 20일

# 데이터 상: 7,8월 / 1,2월 등하교 시간대 빈도가 적음
# 4개월 제거
# 0) 총 행수: 247553159
# 1) 방학 제거 시: 173712643: 70.2%
# 2) 휴일 제거 시: 130090013: 52.6%
# 3) 통행횟수 1회 초과인 건들: 129688797: 52.3%

query = '''
WITH only_school AS(
    SELECT *
    FROM teenager.tb_linked_transport_teenager_2024
    WHERE 운행일자 NOT LIKE '202401%' 
        AND 운행일자 NOT LIKE '202402%' 
        AND 운행일자 NOT LIKE '202407%' 
        AND 운행일자 NOT LIKE '202408%'
    -- 평일만 남기기
        AND STRFTIME(STRPTIME(승차일시, '%Y%m%d%H%M%S'), '%w') NOT IN ('0', '6') 
        AND STRPTIME(SUBSTR(승차일시, 1, 8), '%Y%m%d') NOT IN (SELECT holiday_date FROM temp_holidays_2024)
),
-- 통행횟수 집계
annual_counts AS(
    SELECT 
        가상카드번호
    FROM only_school 
    GROUP BY 가상카드번호
    HAVING COUNT(*) > 1
),
-- 랜덤샘플 1000명
random_samples AS(
    SELECT
        가상카드번호
    FROM annual_counts
    USING SAMPLE 1000
)
SELECT *
FROM only_school os
JOIN random_samples rs
    ON os.가상카드번호 = rs.가상카드번호
;
'''

con.execute(query).df()